body{
margin:0;
font-family:Arial;
background:#0d1b2a;
color:white;
}

header{
text-align:center;
padding:20px;
}

.container{
padding:20px;
}

textarea{
width:100%;
height:120px;
padding:10px;
}

select{
width:100%;
padding:10px;
margin-top:10px;
}

button{
width:100%;
padding:15px;
margin-top:10px;
background:gold;
border:none;
font-weight:bold;
}

#designArea{
margin-top:20px;
height:500px;
background:url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?w=1200");
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
text-align:center;
border-radius:10px;
}

#designText{
font-size:30px;
font-weight:bold;
}

#signature{
margin-top:20px;
font-size:14px;
}
